body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
}

.container {
    width: 500px;
    height: 300px;
    position: relative;

    overflow: hidden;
}

img {
    width: 100%;
    height: auto;

    transition: all 0.5s;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0);
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 0.5s;
}

.caption h1 {
    text-transform: uppercase;
    margin: 0;
}

.caption p {
    font-size: 18px;
    text-transform: capitalize;
}

.container:hover .caption {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

.container:hover img {
    transform: rotate(15deg) scale(1.3);
}
